.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

section {
    height: 100%;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
    width: 100%;
}  

.hero {
    background: #eee8d9;
    background-image: url('../img/background-image.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 30px;

    &__text {
        h4 {
            @include proximaRegular;
            color: #562c36;
            font-size: 18px;
        }

        h3 {
            @include proximaRegular;
            color: #562c36;
            font-size: 18px;
        }
    }

    &__phone-text {

        a {
            @include proximaBold;
            color: #562c36;
            font-size: 18px;
            text-decoration: none;
        }
    }

    &__left {
        width: 50%;
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 40px;
    }

    &__right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__phone {
        display: flex;
        align-items: center;
    }
    
    &__phone-text {
        margin-right: 45px;
    }

    &__phone-img {
        margin-right: 45px;
    }

    &__burger {
        cursor: pointer;
    }
}

.nav {

    &__list {
        display: flex;
    }

    &__item {
        background: #562c37;
        transition: background .35s ease-in-out;
        border-right: 1px solid #78565f;

        &:last-child {
            border-right: 0;
        }

        &:hover {
            background: #ebdebb;
            color: #fff;
        }
    }

    &__item--width {
        width: 100%;
        text-align: center;
    }

    &__item--border-left {
        border-left: 1px solid #78565f;
    }

    &__item--border-right {
        border-right: 1px solid #78565f !important;
    }

    &__item--active {
        background: #ebdebb;
    }

    &__link {
        padding: 25px 43.4px;
        @include proximaBold;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        white-space: nowrap;
        transiton: color .35s ease;

        &:hover {
            color: #562c37;
        }
    }
}

.content {
    display: flex;
    padding-top: 50px;
    margin-bottom: 80px;

    &__wrapper {
        width: 100%;
    }

    &__left {
        width: 50%;
    }

    &__right {
        width: 50%;
    }
    
    &__left-title {
        margin-bottom: 50px;

        h1 {
            font-size: 80px;
            @include proximaBold;
            color: #562c36;
            text-align: left;
        }
    }

    &__left-more {
        display: flex;
        align-items: center;
        margin-bottom: 110px;
        cursor: pointer;
      

        &:hover {
            img {
                transform: translateX(15px);
            }
        }

        img {
            margin-left: 25px;
            transition: transform .35s ease-in-out;
        }

        h3 {
            font-size: 18px;
            @include proximaRegular;
            color: #562c36;
            text-align: left;
        }
    }

}

.general-info {
    display: flex;
    justify-content: space-between;


    &__left {
        width: 49%;
    }

    &__item {
        background: #562c37;
        margin-bottom: 30px;
        transition: background .35s ease-in-out;
        display: flex;
        align-items: center;

        a {
            color: #fff;
            text-decoration: none;
            @include proximaRegular;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 35px 30px;
            width: 100%;
        }

        &:hover {
            background: #ebdebb;
    
            a {
                color: #562c37;
            }

            .sprite-arrow-brown {
                background-position: -20px -20px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    

    &__right {
        width: 49%;
    }
}

.news {
    margin-top: 120px;

    &--margin {
        margin-bottom: 430px;
    }

    &__title {
        margin-bottom: 90px;
        font-size: 30px;
        @include proximaRegular;
        color: #333333;
    }

    &__top-data {
        h4 {
            font-size: 12px;
            @include proximaRegular;
            color: #b4b2ad;
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__top-data {
        margin-bottom: 30px;
    }

    &__top-title {
        margin-bottom: 40px;

        h3 {
            font-size: 18px;
            @include proximaRegular;
            color: #562c36;
        }
    }

    &__top-text {
        p {
            font-size: 16px;
            @include proximaRegular;
            color: #333;
        }
    }

    &__bottom-data {
        margin-bottom: 30px;

        h4 {
            font-size: 12px;
            @include proximaRegular;
            color: #b4b2ad;
        }
    }

    &__bottom-title {
        margin-bottom: 40px;

        h3 {
            font-size: 18px;
            @include proximaRegular;
            color: #562c36;
        }
    }

    &__top-text {

        p {
            font-size: 16px;
            @include proximaRegular;
            color: #333;
        }
    }
}

.statistics-wrapper {
    margin-bottom: 150px;
    margin-top: 200px;

    .statistics__title {
        
        margin-bottom: 70px;
        
        h3 {
            font-size: 30px;
            @include proximaRegular;
            color: #333;
        }
    }

    .statistics__item {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .statistics__round {
        h3 {
            @include proximaRegular;
            color: #ebdebb;
            font-size: 30px;
        }
    }

    .statistics__text {

        h3 {
            font-size: 16px;
            @include proximaBold;
            color: #333;
        }
    }
}

.statistics {
    display: flex;
    justify-content: space-between;

    &__left {
        width: 50%;
    }

    &__right {
        width: 50%;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__round {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background: #562c37;
        position: relative;
        margin-right: 30px;
        display: flex;
        flex-shrink: 0;

        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            @include proximaBold;
            font-size: 16px;
        }
    }
}

.acco {

    &__item {
        border-bottom: 1px solid #d7c9bd;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__item--border-top {
        border-top: 1px solid #d7c9bd;
    }

    &__content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;

        p {
            font-size: 18px;
            color: #333;
            @include proximaRegular;
            padding-bottom: 40px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__content--active {
        max-height: 100%;
        overflow: hidden;
    }

    &__trigger {

        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 35px 0;
            font-size: 18px;
            text-decoration: none;
            color: #562c37;

            &:after {
                content: '';
                display: block;
                background-image: url('../img/arrow-color.png');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
            }
        }
    }
}

.acco__item--active {
    transition: opacity transform .25s ease-in-out;

    .acco__content {
        max-height: 100%;
        opacity: 1;
        transition: opacity .25s ease-in-out;
        padding-bottom: 30px;
    }

    .acco__trigger a:after {
        transform: rotate(180deg);
        transition: transform .15s ease-in-out;
    }
}

.trust {
    margin-bottom: 220px;

    &__title {
        margin-bottom: 25px;

        h3 {
            font-size: 30px;
            @include proximaRegular;
            color: #333;
        }
    }

    &__list {
        height: 350px;
    }

    &__item {
        margin-left: -10px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination {
    text-align: left !important;
  }
  
  .swiper-pagination-bullet {
    height: 4px;
    border-radius: 0;
    width: 20px;
  }

  .swiper-pagination-bullet-active {
    background: #562c37;
    width: 40px;
  }

  .content__wrapper {
      width: 100% !important;
  }

  .sprite {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-arrow-brown {
    width: 10px;
    height: 16px;
    background-position: -20px -20px;
}

.sprite-arrow-right {
    width: 10px;
    height: 16px;
    background-position: -70px -20px;
}

.button {

        a {
            font-size: 14px;
            text-decoration: none;
            color: #562c37;
            padding: 20px 30px;
            border: 1px solid #562c37;
            width: 14%;
            flex-shrink: 0;
            display: flex;
            transition: background .35s ease-in-out,
            color .35s ease-in-out;
            @include proximaRegular;

            &:hover {
                background: #562c37;
                color: #fff;
            }
        }
}


.faq {
    margin-bottom: 110px;

    &__title {
        margin-bottom: 55px;

        h3 {
            font-size: 30px;
            @include proximaRegular;
            color: #333;
        }
    }
}

.footer {
    width: 100%;
    padding-bottom: 45px;

    &__title {
        padding-bottom: 25px;

        h3 {
            font-size: 16px;
            @include proximaRegular;
            color: #333;
        }
    }

    &__conditions {

        a {
            font-size: 16px;
            @include proximaRegular;
            color: #333;
        }
    }
}