.contacts  {
    background: #eee8d9;


    &--margin-bottom {
        margin-bottom: 50px
    }

    &__title {
        margin-bottom: 70px;

        h1 {
            font-size: 48px;
            @include proximaBold;
            color: #562c36;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__block-elem-item {
        padding-bottom: 20px;

        a {
            color: #562c36;
            @include proximaRegular;
            font-size: 16px;
            text-decoration: none;
        }

        h3 {
            color: #562c36;
            @include proximaRegular;
            font-size: 16px;
        }

        h4 {
            color: #562c36;
            @include proximaRegular;
            font-size: 16px;
        }
    }

    &__block-elem-link {
        padding-bottom: 13px;

        &:last-child {
            padding-bottom: 0;
        }

        a {
            padding: 20px 28px;
            border: 1px solid #562c36;
            text-decoration: none;
            color: #562c37;
            text-transform: uppercase;
            text-align: center;
            @include proximaRegular;
        }
    }

    &__block-elem-link--color {
        background: #562c37;

        a {
            color: #f7f0df;
            @include proximaRegular;
        }
    }

    &__block-elem {
        width: 23%;
    }
}

.social-links {

    &__item-url {
        text-decoration: none;
        height: 50px;
        width: 50px;
        font-size: 30px;
        color: #562c37;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-decoration: 0;
        transition: .5s;
        border-radius: 50%;
        border: 1px solid #562c37;
    }

    &__item-url--color {
        text-decoration: none;
        height: 50px;
        width: 50px;
        font-size: 30px;
        color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-decoration: 0;
        transition: .5s;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
    }

    &__list {
        display: flex;
    }

    &__list--position {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.map-container {
    padding-bottom: 160px;
    background: #eee8d9;
}

#map {
  height: 400px;
  width: 100%;
}

