.guarantee {
    background: #eee8d9;
}

.breadcrumbs {
    margin-top: 40px;
    margin-bottom: 70px;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {

        a {
            text-decoration: none;
            color: #562c36;
            font-size: 16px;
            display: flex;
            align-items: center;
            @include proximaRegular;

            @include phones {
                font-size: 11px;
            }

            &:after {
                content: '/';
                display: block;
                font-size: 16px;
                color: #562c36;
                padding-left: 5px;
                padding-right: 5px;
                
            }
        }

        h4 {
            font-size: 16px;
            color: #562c36;
            @include proximaRegular;
            
            @include phones {
                font-size: 11px;
            }
        }
    }
}


.guarantee-block {
    &__title  {
        margin-bottom: 70px;

        h1 {
            font-size: 80px;
            @include proximaBold;
            color: #562c36;

            @include phones {
                font-size: 60px;
            }
        }
    }

    &__left {
        width: 49%;

        @include laptop {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    &__right {
        width: 49%;

        @include laptop {
            width: 100%;
        }
    }

    &__right-side {
        width: 50%;
        margin-left: 70px;

        @include phones {
            margin-left: 20px;
        }

        h3 {
            font-size: 24px;
            @include proximaBold;
            color: #562c36;

            @include phones {
                font-size: 16px;
            }
        }
    }

    &__left-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    &__left-content {
        p {
            padding-bottom: 45px;
            font-size: 16px;
            @include proximaRegular;
            color: #333;
            
            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__right-content {
        p {
            padding-bottom: 45px;
            font-size: 16px;
            @include proximaRegular;
            color: #333;
            
            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__general {
        display: flex;
        justify-content: space-between;
        margin-bottom: 285px;

        @include laptop {
            flex-direction: column;
        }
    }

    &__right-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
    }

    &__left-side {

        img {
            width: 133px;
            height: 144px;

            @include phones {
                width: 100px;
                height: 100px;
            }
        }
    }
}

