.news-block {

    &__general {
        width: 100%;
    }

    &__wrapper-slider {
        display: flex;
        height: 100%;
        align-items: flex-end;
    }

    &__slider-item {
        background: #562c37;
        height: 355px;
        width: 100%;
        padding: 45px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__slider-date {
        margin-bottom: 15px;

        h4 {
            font-size: 12px;
            color: #fff;
            @include proximaRegular;
            text-align: left;
        }
    }

    &__slider-title {

        h2 {
            font-size: 30px;
            @include proximaBold;
            text-decoration: none;
            color: #ebdebb;
            text-align: left;
        }
    }

    &__slider-link {
        text-decoration: none;
    }

    &__title {

        h1 {
            font-size: 80px;
            margin-bottom: 55px;
            @include proximaBold;
            color: #562c37;
        }
    }
}

.news__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .35s ease-in-out;

    &:hover {
        transform: translate(1px, 1px);
    }

    a {
        padding: 20px 30px;
        color: #fff;
        text-decoration: none;
        @include proximaRegular;
        background: #562c37;
        width: 166px;
        transition: color .35s ease-in-out, background .35s ease-in-out;

        &:hover {
            color: #562c37;
            background: #ebdebb
        }
    }
}

.footer-another {

    &__top  {
        width: 100%;
        background: #562c37;
    }

    &__center {
        width: 100%;
        background: #562c37;
        padding-top: 35px;
        padding-bottom: 35px;
        border-bottom: 1px solid #78565f;
        border-top: 1px solid #78565f;
    }

    &__center-phone {
        display: flex;
        align-items: center;

        @include tablets {
            justify-content: center;
            margin-bottom: 30px;
        }

        a {
            color: #fff;
            @include proximaBold;
            font-size: 16px;
            text-decoration: none;
        }

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-image: url('../img/phone-footer.png');
            background-repeat: no-repeat;
            margin-right: 20px;
        }
    }

    &__center-address {
        display: flex;
        align-items: center;

        @include tablets {
            justify-content: center;
            margin-bottom: 30px;
        }

        h4 {
            color: #fff;
            @include proximaBold;
            font-size: 16px;
            text-decoration: none;
        }

        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-image: url('../img/mark-footer.png');
            background-repeat: no-repeat;
            margin-right: 20px;
        }
    }

    &__left {
        width: 70%;
        display: flex;
        justify-content: space-between;

        @include laptop {
            width: 100%;
        }

        @include tablets {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__center-logo {
        @include tablets {
           text-align: center;
           margin-bottom: 30px;
        }
    }

    &__right {
        width: 30%;

        @include laptop {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &__bottom {
        width: 100%;
        background: #562c37; 
    }

    &__wrapper  {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;

        @include laptop {
            flex-direction: column;
            display: flex;
        }
    }

    &__general-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include laptop  {
            flex-direction: column;
        }
    }

    &__title {

        @include laptop {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        h3 {
            color: #fff;
            @include proximaRegular;
            font-size: 16px;
        }
    }

    &__conditions {

        @include laptop {
            display: flex;
            justify-content: center;

        }
        
        a {
            color: #fff;
            @include proximaRegular;
            font-size: 16px;
        }
    }
}

.social-links--position {
    display: flex;
    justify-content: flex-end;
}

.nav__list-footer {
    display: flex;

    @include laptop {
        display: none;
    }
}

.nav__link--changed {
    padding: 25px 0;
}
