.content-service {
    width: 100%;

    &__title {
        margin-bottom: 75px;

        h1 {
            font-size: 80px;
            @include proximaBold;
            color: #562c36;
            text-align: left;
        }
    }

    &__side-title {
        margin-bottom: 65px;
        h3 {
           font-size: 18px;
           @include proximaBold;
           color: #562c36;
        }
    }

    &__side-wrapper {
        margin-bottom: 115px;
    }

    &__side-text {

        p {
            font-size: 16px;
            color: #333;
            @include proximaRegular;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 140px;
    }

    &__left {
        width: 49%;
    }

    &__right {
        width: 49%;
    }

    &__list {
        height: 349px;
    }

    &__item  {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 80px;
        height: 108px;

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            font-size: 24px;
            @include proximaBold;
            color: #562c36;
            width: 400px;
        }

        span {
            font-size: 35px;
            @include proximaBold;
            color: #562c36;
        }
    }

    &__text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
        margin-bottom: 130px;
    }

    &__text-left {
        width: 49%;
    }

    &__text-right {
        width: 49%;
    }
}

.recommendation {
    margin-bottom: 175px;

    &__title {
        margin-bottom: 90px;

        h3 {
            font-size: 30px;
            @include proximaRegular;
            color: #333;
        }
    }
}

.button-submit--width {
    width: 100%;
}

.callback {
    margin-bottom: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        margin-bottom: 55px;
        
        h3 {
            font-size: 30px;
            color: #333333;
            @include proximaRegular;
        }
    }

    &__form {
        width: 540px;
    }

    &__form-input {
        margin-bottom: 30px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        input {
            border: 1px solid #ebebeb;
            width: 100%;
            padding: 15px 13px;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    &__form-checkbox {
        order: -1;
        margin-right: 15px;
        position: relative;
    }

    .checkbox {
        position: absolute;
        top: 0;
        left: -9999px;

    }

    .checkbox-img {
        width: 20px;
        height: 20px;
        border: 1px solid #562c36;
        position: relative;
        background: #562c36;
        border-radius: 2px;

        &:after {
            content: '';
            display: block;
            width: 8px;
            height: 16px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            margin-left: 5px;
            opacity: 0;
        }
    }
}

.checkbox:checked + .checkbox-img:after {
    opacity: 1;
    transition: opacity .35s ease-in-out;
}

.callback__form-input {
    position: relative;
}

.callback__form-input input + .border-elem {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    background-color: #562c36;
    width: 0;
    height: 2px;
    transition: .4s ease-in-out;
}

.callback__form-input input:focus + .border-elem {
    width: 100%;
    left: 0;
}

.content-service__center-block {
    background-image: url('../img/middle-layer.png');
    background-repeat: no-repeat;
    transform: translateY(-50px);
}

.content-service__left-side {
    width: 32%;
}

.content-service__center-side {
    width: 32%;
}

.content-service__right-side {
    width: 32%;
}

.content-service__general {
    display: flex;
    justify-content: space-between;
}

.content-service--margin-bottom {
    margin-bottom: 280px;
}

.content-service__center-block {
    padding: 75px 40px;
}

.content-service__center-title {
    margin-bottom: 40px;
    h3 {
        font-size: 18px;
        @include proximaRegular;
        color: #dbccad;
        line-height: 1.6;
    }
}

.content-service__center-text {
    margin-bottom: 60px;

    p {
        font-size: 16px;
        @include proximaRegular;
        color: #9e8b8f;
    }
}

.content-service__center-heading {

    h3 {
        font-size: 16px;
        color: #fff;
        @include proximaRegular;
    }
}