header.header
          .header__left 
            .header__logo 
              a(href="#")
                img(src="./assets/img/logo.png", alt="logo")
            .header__text 
              h3 Фонд
              h4 Инвестиции в национальную экономику    
          .header__right 
            .header__phone 
              .header__phone-text 
                a(href="tel:88005510680") 8 (800) 551-06-80
              .header__phone-img 
                img(src="./assets/img/telephone.png", alt="phone number") 
              .header__burger 
                img(src="./assets/img/burger.png", alt="burger") 