.anim-side-bar 
    .close-elem
        i.fa.fa-times
    ul.anim-side-bar__list 
        li.anim-side-bar__item 
            a(href="#") О компании
        li.anim-side-bar__item 
            a(href="#") Услуги
        li.anim-side-bar__item 
            a(href="#") Гарантии
        li.anim-side-bar__item 
            a(href="#") FAQ
        li.anim-side-bar__item 
            a(href="#") Новости
        li.anim-side-bar__item 
            a(href="#") Проекты
        li.anim-side-bar__item 
            a(href="#") Контакты                        
