.feedback-popup#feedbackPopup
    .feedback-popup__content 
        .feedback-popup__closeButton
        .feedback-popup__title 
            h2 Обратная связь
        .feedback-popup__inputs 
            form.feedback-popup__form 
                .feedback-popup__form-wrapper
                    .feedback-popup__form-left
                        label.feedback-popup__label 
                            .feedback-popup__wrapper
                                .feedback-popup__heading 
                                    h3 Ваше имя
                                .feedback-popup__input
                                    input(type="text" name="name" placeholder="Иван Иванов") 
                                    span.border
                                #nameError     
                        label.feedback-popup__label 
                            .feedback-popup__wrapper
                                .feedback-popup__heading 
                                    h3 Ваш Телефон
                                .feedback-popup__input    
                                    input(type="text" name="phone" placeholder="+7 ХХХ  ХХХ  ХХ  ХХ")#phoneNumber
                                    span.border
                                #phoneError      
                        label.feedback-popup__label 
                            .feedback-popup__wrapper
                                .feedback-popup__heading 
                                    h3 Ваш E-mail
                                .feedback-popup__input    
                                    input(type="text" name="email" placeholder="mail@mail.com")#emailInput 
                                    span.border    
                                #emailError    
                    .feedback-popup__form-right
                        label.feedback-popup__label 
                            .feedback-popup__heading 
                                h3 Сообщение
                            textarea(name="textarea").feedback-popup__textarea#textAreaValue
                            #textAreaError
                .feedback-popup__form-bottom
                    label.feedback-popup__label-checkbox
                        .feedback-popup__label-checkbox-wrapper
                            .feedback-popup__checkbox-input 
                                input(type="checkbox" name="checkbox").feedback-popup__checkbox-elem
                                .feedback-popup__checkbox-img  
                            .feedback-popup__checkbox-title
                                h3 <span>Соглашаюсь</span> на обработку персональных данных       
                        #checkboxError 
                    .button-submit
                        button(type="sumbit") Отправить




                

        
