footer.footer 
              .container
                .footer__title 
                  h3 © Фонд, Инвестиции, Все материалы данного сайта являются объектами авторского права
                .footer__conditions
                  a(href="#") Условия, правила и оговорки   