nav.nav 
  .burger-menu 
    img(src="/assets/img/burger.png")
  ul.nav__list 
    li.nav__item 
      a(href="#").nav__link О Компании  
    li.nav__item 
      a(href="#").nav__link Услуги 
    li.nav__item 
      a(href="#").nav__link Гарантии
    li.nav__item 
      a(href="#").nav__link FAQ
    li.nav__item 
      a(href="#").nav__link Новости
    li.nav__item 
      a(href="#").nav__link Проекты 
    li.nav__item 
      a(href="#").nav__link Контакты