.trust 
              .trust__title 
                h3 Нам доверяют          
              .trust__wrapper.swiper-container.s2
                ul.trust__list.swiper-wrapper 
                  li.trust__item.swiper-slide
                    img(src="./assets/img/trust-first-slide.png") 
                  li.trust__item.swiper-slide
                    img(src="./assets/img/trust-slide-fifth.png")   
                  li.trust__item.swiper-slide 
                    img(src="./assets/img/trust-slide-fourth.png")
                  li.trust__item.swiper-slide 
                    img(src="./assets/img/trust-slide-second.png")
                  li.trust__item.swiper-slide 
                    img(src="./assets/img/trust-slide-third.png")
                  li.trust__item.swiper-slide
                    img(src="./assets/img/trust-first-slide.png") 
                  li.trust__item.swiper-slide
                    img(src="./assets/img/trust-slide-fifth.png")   
                  li.trust__item.swiper-slide 
                    img(src="./assets/img/trust-slide-fourth.png")
                  li.trust__item.swiper-slide 
                    img(src="./assets/img/trust-slide-second.png")
                  li.trust__item.swiper-slide 
                    img(src="./assets/img/trust-slide-third.png")  
                .swiper-pagination