.feedback-popup {
    position: fixed;
    background-color: rgba(106, 110, 132, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s;
    overflow: hidden;
    z-index: 99;

    &--active {
        height: 100%;
        opacity: 1;
        visibility: visible;
    }

    &__content {
        background-color: #fff;
        padding: 50px 55px;
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 rem(5px) rem(8px) 0 rgba(0, 0, 0, .2), 0 rem(7px) rem(20px) 0 rgba(0, 0, 0, .17);
        animation-name: modalopen;
        animation-duration: .6s;
        position: relative;
    }

    &__closeButton {
            position: absolute;
            top: 0;
            right: -35px;
            background-image: url('../img/close.png');
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            cursor: pointer;
    }

    &__title  {
        margin-bottom: 45px;

        h2 {
            font-size: 48px;
            color: #562c36;
            @include proximaBold;
        }
    }

    &__form {
        width: 100%;
    }

    &__form-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__form-left {
        width: 49%;
    }

    &__form-right {
        width: 49%;
    }

    &__heading {

        h3 {
        font-size: 14px;
        color: #333;
        @include proximaBold;
        padding-bottom: 6px;
        }
    }

    &__wrapper {
        padding-bottom: 20px;
    }

    &__input {
        position: relative;

        input {
            width: 100%;
            outline: none;
            border: 1px solid #ebebeb;
            width: 100%;
            padding: 15px 13px;
        }
    }

    &__input input + .border {
        position: absolute;
        left: 50%;
        bottom: 0;
        display: block;
        background-color: #562c36;
        width: 0;
        height: 1.5px;
        transition: .4s ease-in-out;
    }

    input:focus + .border {
        width: 100%;
        left: 0;
    }

    &__textarea {
        width: 100%;
        resize: none;
        border: 1px solid #ebebeb;
        height: 290px;
        outline: none;
        padding: 15px 13px;
        transition: border .35s easy-in-out;

        &:focus {
            border: 1px solid #562c36;
        }
    }

    &__form-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.button-submit {

    button {
        border: none;
        outline: none;
        padding: 20px 50px;
        background: #562c36;
        color: #fff;
        @include proximaRegular;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform .25s ease-in-out;

        &:hover {
            transform: translate(1px, 1px);
        }
    }
}

.feedback-popup__checkbox-input  {
    position: relative;
}

.feedback-popup__checkbox-elem {
    position: absolute;
    top: 0;
    left: -9999px;
}

.feedback-popup__checkbox-img {
    width: 20px;
    height: 20px;
    border: 1px solid #562c36;
    position: relative;
    background: #562c36;
    border-radius: 2px;
    order: -1;
    margin-right: 15px;

    &:after {
        content: '';
        display: block;
        width: 8px;
        height: 16px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        margin-left: 5px;
        opacity: 0;
    }
}

.feedback-popup__checkbox-elem:checked + .feedback-popup__checkbox-img:after {
    opacity: 1;
    transition: opacity .35s ease-in-out;
}

.feedback-popup__label-checkbox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feedback-popup__checkbox-title {

    h3 {
        font-size: 16px;
        @include proximaRegular;
        color: #562c36;
    }

    span {
        font-size: 16px;
        @include proximaRegular;
        color: #562c36;
        text-decoration: underline;
    }
}

#nameError {
    color: red;
    @include proximaRegular;
    font-size: 16px;
    height: 24px;
    margin-top: 5px;
}

#textAreaError {
    color: red;
    @include proximaRegular;
    font-size: 16px;
    height: 24px;
    margin-top: 5px;
}

#emailError {
    color: red;
    @include proximaRegular;
    font-size: 16px;
    height: 20px;
    margin-top: 5px;
}

#phoneError {
    color: red;
    @include proximaRegular;
    font-size: 16px;
    height: 20px;
    margin-top: 5px;
}

#checkboxError {
    color: red;
    @include proximaRegular;
    font-size: 16px;
    height: 20px;
    margin-top: 5px;
    width: 100%;
}

.feedback-popup__label-checkbox-wrapper {
    display: flex;
    align-items: center;
}
