extends ../_template

block variables
  - var title = 'About'

block content
  .wrapper 
    section.section.hero
      .container
        include ../common/_header
        nav.nav 
          ul.nav__list 
            li.nav__item.nav__item--active
              a(href="#").nav__link О Компании  
            li.nav__item 
              a(href="#").nav__link Услуги 
            li.nav__item
              a(href="#").nav__link Гарантии
            li.nav__item 
              a(href="#").nav__link FAQ
            li.nav__item
              a(href="#").nav__link Новости
            li.nav__item 
              a(href="#").nav__link Проекты 
            li.nav__item
              a(href="#").nav__link Контакты
        .breadcrumbs 
            ul.breadcrumbs__list 
                li.breadcrumbs__item 
                    a(href="#") Главная
                li.breadcrumbs__item 
                    h4 О компании
        .about 
            .about__title 
                h1 О компании     
            .about__content 
                .about__content-left 
                    .about__content-left-text
                            p Основополагающие правила проведения налоговых проверок выездного формата регламентируются Налоговым кодексом. Такие мероприятия направлены на проверку корректности и полноты начисления и уплаты налогоплательщиком обязательных платежей за определенный период времени.
                            p В соответствии с требованиями ныне действующего законодательства, при выездной проверке инспектор имеет право требовать документы за отрезок времени, не превышающий трех лет, предшествующих году проведения такой выездной проверки. При этом стоит учесть, что текущий год, в котором проводится проверка, в определении продолжительности этого периода не учитывается.
                .about__content-right
                    a(href="#").about__content-right-link
                      .about__content-right-video 
                        img(src="./assets/img/background-video.png")
                        .about__content-right-play 
                          img(src="./assets/img/play-button.png")
                        .about__content-right-text-block
                          h3 Смотреть презентацию 
        .statistics-wrapper.statistics-wrapper--margin
              .statistics__title 
                h3 Наша статистика
              .statistics
                .statistics__left 
                  ul.statistics__list 
                    li.statistics__item 
                      .statistics__round 
                        h3 14
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 22
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 108
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 377
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг           
                .statistics__right  
                  ul.statistics__list 
                    li.statistics__item 
                      .statistics__round 
                        h3 104
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 341
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 28
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 15+ млн
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг    
        include ../common/slider      
        include ../common/footer                              
