extends ../_template

block variables
  - var title = 'Guarantee page'

block content
  .wrapper 
    section.section.hero
      .container
        include ../common/_header
        nav.nav 
          .burger-menu 
            img(src="/assets/img/burger.png")
          ul.nav__list 
            li.nav__item 
              a(href="#").nav__link О Компании  
            li.nav__item 
              a(href="#").nav__link Услуги 
            li.nav__item.nav__item--active
              a(href="#").nav__link Гарантии
            li.nav__item 
              a(href="#").nav__link FAQ
            li.nav__item 
              a(href="#").nav__link Новости
            li.nav__item 
              a(href="#").nav__link Проекты 
            li.nav__item 
              a(href="#").nav__link Контакты
        .breadcrumbs 
            ul.breadcrumbs__list 
                li.breadcrumbs__item 
                    a(href="#") Главная
                li.breadcrumbs__item 
                    h4 Гарантии              
        .guarantee-block
            .guarantee-block__title 
                h1 Гарантии
            .guarantee-block__general
                .guarantee-block__left 
                    .guarantee-block__left-wrapper 
                        .guarantee-block__left-side
                            img(src="./assets/img/contry-logo.png")
                        .guarantee-block__right-side
                            h3 Законодательство о гарантиях качества услуг
                    .guarantee-block__left-content 
                        p Предусмотрены ли Законом о защите прав и иными законами потребителя гарантии качества бесплатных юридических услуг? Ответ: нет и никогда не были предусмотрены. Бесплатные услуги не являются предметом регулирования Закона о защите прав потребителей, т.к. Закон о защите прав потребителей регулирует оказание платных услуг гражданам РФ.        
                        p Предусмотрена ли гарантия реализации права граждан РФ на получение бесплатной квалифицированной юридической помощи в РФ? Ответ: да, предусмотрена в соответствии с Законом об юридической помощи.
                        p Все ли категории граждан имеют право на оказание бесплатной юридической помощи? Ответ: нет, не все. Категории граждан определяются в соответствии с Законом об юридической помощи и при обращении за бесплатной юридической помощью бремя доказывания принадлежности к соответствующей категории лежит на гражданине, а не на организации, которая оказывает бесплатную юридическую помощь.
                .guarantee-block__right 
                    .guarantee-block__right-wrapper
                        .guarantee-block__left-side 
                            img(src="./assets/img/document.png")
                        .guarantee-block__right-side
                            h3 Страхование деятельности компании
                    .guarantee-block__right-content   
                        p Какие организации в обязательном порядке оказывают бесплатные юридические услуги определенной Законом о бесплатной юридической помощи категории граждан? Ответ: частные адвокаты, адвокатские бюро, адвокатские коллегии, адвокатские кабинеты, юридические клиники.
                        p Каким законом, кроме Гражданского кодекса и Закона о защите прав потребителей, регулируется деятельность коммерческих юридических и консалтинговых компаний? Ответ: деятельность таких компаний регулируется Федеральным законом от 26.07.2006 N 135-ФЗ (ред. от 29.07.2017) "О защите конкуренции". Статьей 14 данного Закона не допускается недобросовестная конкуренция путем введения в заблуждение (обещания, гарантии), в том числе в отношении качества и потребительских свойств товара, предлагаемого к продаже, назначения такого товара, способов и условий его изготовления или применения, результатов, ожидаемых от использования такого товара, его пригодности для определенных целей. Вывод: ни один юрист/адвокат ни вправе вводить в заблуждение своего клиента путем дачи обещаний и всевозможных гарантий 100%ного положительного результата, т.к. гарантии качества платных юридических и консалтинговых услуг не предусмотрены ни одной нормой права РФ.
        include ../common/slider 
        include ../common/footer    
        include ../common/anim-side-bar               




