extends ../_template

block variables
  - var title = 'Index page'

block content
  .wrapper 
    section.section.hero
      .container
        include ../common/_header
        include ../common/nav  
        .content.swiper-container.s1
          .swiper-wrapper
            .content__wrapper.swiper-slide
              .content__left
                ul.content__left__list-slider
                  li.content__left__item-slider
                    .content__left-title 
                      h1 Административное регулирование бизнеса
                    .content__left-more 
                      h3 Подробнее
                      img(src="./assets/img/arrow-right-round.png", alt="read more")        
              .content__right     
                .content__right-logo 
                  img(src="./assets/img/logo-big.png", alt="logo big")
            .content__wrapper.swiper-slide
              .content__left
                ul.content__left__list-slider
                  li.content__left__item-slider
                    .content__left-title 
                      h1 Административное регулирование бизнеса
                    .content__left-more 
                      h3 Подробнее
                      img(src="./assets/img/arrow-right-round.png", alt="read more")        
              .content__right     
                .content__right-logo 
                  img(src="./assets/img/logo-big.png", alt="logo big")    
            .content__wrapper.swiper-slide
              .content__left
                ul.content__left__list-slider
                  li.content__left__item-slider
                    .content__left-title 
                      h1 Административное регулирование бизнеса
                    .content__left-more 
                      h3 Подробнее
                      img(src="./assets/img/arrow-right-round.png", alt="read more")        
              .content__right     
                .content__right-logo 
                  img(src="./assets/img/logo-big.png", alt="logo big")  
          .swiper-pagination  
          .swiper-pagination           
        .general-info
          .general-info__left 
            ul.general-info__list 
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown
              li.general-info__item 
                a(href="#") Управленческий консалтинг  
                  i.sprite.sprite-arrow-right.sprite-arrow-brown   
          .general-info__right 
            ul.general-info__list 
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown   
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown   
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown   
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown   
              li.general-info__item 
                a(href="#") Управленческий консалтинг
                  i.sprite.sprite-arrow-right.sprite-arrow-brown   
      section.news 
          .container  
            .news__title 
              h3 Новости и события
            .news__wrapper 
              .news__top 
                .news__top-data 
                  h4 2 дня назад 
                .news__top-title
                  h3 Положительное разрешение проблемы должника 
                .news__top-text 
                  p Списание задолженности индивидуального предпринимателя по налогам и сборам  
              .news__top 
                .news__top-data 
                  h4 2 дня назад 
                .news__top-title
                  h3 Положительное разрешение проблемы должника 
                .news__top-text 
                  p Списание задолженности индивидуального предпринимателя по налогам и сборам  
              .news__top 
                .news__top-data 
                  h4 2 дня назад 
                .news__top-title
                  h3 Положительное разрешение проблемы должника 
                .news__top-text 
                  p Списание задолженности индивидуального предпринимателя по налогам и сборам          
            .news__wrapper
              .news__bottom   
                  .news__bottom-data 
                    h4 2 дня назад 
                  .news__bottom-title
                    h3 Положительное разрешение проблемы должника 
                  .news__top-text 
                    p Списание задолженности индивидуального предпринимателя по налогам и сборам  
              .news__bottom  
                  .news__bottom-data 
                    h4 2 дня назад 
                  .news__bottom-title
                    h3 Положительное разрешение проблемы должника 
                  .news__top-text 
                    p Списание задолженности индивидуального предпринимателя по налогам и сборам
              .news__bottom  
                  .news__bottom-data 
                    h4 2 дня назад 
                  .news__bottom-title
                    h3 Положительное разрешение проблемы должника 
                  .news__top-text 
                    p Списание задолженности индивидуального предпринимателя по налогам и сборам  
            .button 
              a(href="#") Смотреть все     
            .statistics-wrapper
              .statistics__title 
                h3 Наша статистика
              .statistics
                .statistics__left 
                  ul.statistics__list 
                    li.statistics__item 
                      .statistics__round 
                        h3 14
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 22
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 108
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 377
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг           
                .statistics__right  
                  ul.statistics__list 
                    li.statistics__item 
                      .statistics__round 
                        h3 104
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 341
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 28
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
                    li.statistics__item 
                      .statistics__round 
                        h3 15+ млн
                      .statistics__text 
                        h3 Лет на рынке консалтинговых услуг
            .faq 
              .faq__title 
                h3 Вопросы и ответы
              .acco 
                ul.acco__list 
                  li.acco__item.acco__item--border-top
                    .acco__trigger
                      a(href="#") За какой период надо предоставлять инспекторам документы
                    .acco__content
                      p Основополагающие правила проведения налоговых проверок выездного формата регламентируются Налоговым кодексом. Такие мероприятия направлены на проверку корректности и полноты начисления и уплаты налогоплательщиком обязательных платежей за определенный период времени.                
                      p В соответствии с требованиями ныне действующего законодательства, при выездной проверке инспектор имеет право требовать документы за отрезок времени, не превышающий трех лет, предшествующих году проведения такой выездной проверки. При этом стоит учесть, что текущий год, в котором проводится проверка, в определении продолжительности этого периода не учитывается. Это общее регламентированное правило, которым должны руководствоваться как контролирующий фискальный орган, так и уполномоченные должностные лица проверяемого субъекта. В некоторых случаях в решении об осуществлении выездной проверки инспекторами указывается определенный период, за который необходимо предоставить документы, однако, он должен быть в рамках вышеописанного правила.
                  li.acco__item 
                    .acco__trigger
                      a(href="#") За какой период надо предоставлять инспекторам документы
                    .acco__content 
                      p Основополагающие правила проведения налоговых проверок выездного формата регламентируются Налоговым кодексом. Такие мероприятия направлены на проверку корректности и полноты начисления и уплаты налогоплательщиком обязательных платежей за определенный период времени.                
                      p В соответствии с требованиями ныне действующего законодательства, при выездной проверке инспектор имеет право требовать документы за отрезок времени, не превышающий трех лет, предшествующих году проведения такой выездной проверки. При этом стоит учесть, что текущий год, в котором проводится проверка, в определении продолжительности этого периода не учитывается. Это общее регламентированное правило, которым должны руководствоваться как контролирующий фискальный орган, так и уполномоченные должностные лица проверяемого субъекта. В некоторых случаях в решении об осуществлении выездной проверки инспекторами указывается определенный период, за который необходимо предоставить документы, однако, он должен быть в рамках вышеописанного правила.
                  li.acco__item 
                    .acco__trigger
                      a(href="#") За какой период надо предоставлять инспекторам документы
                    .acco__content 
                      p Основополагающие правила проведения налоговых проверок выездного формата регламентируются Налоговым кодексом. Такие мероприятия направлены на проверку корректности и полноты начисления и уплаты налогоплательщиком обязательных платежей за определенный период времени.                
                      p В соответствии с требованиями ныне действующего законодательства, при выездной проверке инспектор имеет право требовать документы за отрезок времени, не превышающий трех лет, предшествующих году проведения такой выездной проверки. При этом стоит учесть, что текущий год, в котором проводится проверка, в определении продолжительности этого периода не учитывается. Это общее регламентированное правило, которым должны руководствоваться как контролирующий фискальный орган, так и уполномоченные должностные лица проверяемого субъекта. В некоторых случаях в решении об осуществлении выездной проверки инспекторами указывается определенный период, за который необходимо предоставить документы, однако, он должен быть в рамках вышеописанного правила.
                  li.acco__item 
                    .acco__trigger
                      a(href="#") За какой период надо предоставлять инспекторам документы
                    .acco__content 
                      p Основополагающие правила проведения налоговых проверок выездного формата регламентируются Налоговым кодексом. Такие мероприятия направлены на проверку корректности и полноты начисления и уплаты налогоплательщиком обязательных платежей за определенный период времени.                
                      p В соответствии с требованиями ныне действующего законодательства, при выездной проверке инспектор имеет право требовать документы за отрезок времени, не превышающий трех лет, предшествующих году проведения такой выездной проверки. При этом стоит учесть, что текущий год, в котором проводится проверка, в определении продолжительности этого периода не учитывается. Это общее регламентированное правило, которым должны руководствоваться как контролирующий фискальный орган, так и уполномоченные должностные лица проверяемого субъекта. В некоторых случаях в решении об осуществлении выездной проверки инспекторами указывается определенный период, за который необходимо предоставить документы, однако, он должен быть в рамках вышеописанного правила.
                  li.acco__item 
                    .acco__trigger
                      a(href="#") За какой период надо предоставлять инспекторам документы
                    .acco__content 
                      p Основополагающие правила проведения налоговых проверок выездного формата регламентируются Налоговым кодексом. Такие мероприятия направлены на проверку корректности и полноты начисления и уплаты налогоплательщиком обязательных платежей за определенный период времени.                
                      p В соответствии с требованиями ныне действующего законодательства, при выездной проверке инспектор имеет право требовать документы за отрезок времени, не превышающий трех лет, предшествующих году проведения такой выездной проверки. При этом стоит учесть, что текущий год, в котором проводится проверка, в определении продолжительности этого периода не учитывается. Это общее регламентированное правило, которым должны руководствоваться как контролирующий фискальный орган, так и уполномоченные должностные лица проверяемого субъекта. В некоторых случаях в решении об осуществлении выездной проверки инспекторами указывается определенный период, за который необходимо предоставить документы, однако, он должен быть в рамках вышеописанного правила.                  
            include ../common/slider          
            include ../common/footer         