extends ../_template

block variables
  - var title = 'News page'

block content
  .wrapper 
    section.section.contacts 
      .container
        include ../common/_header
        nav.nav 
          ul.nav__list 
            li.nav__item 
              a(href="#").nav__link О Компании  
            li.nav__item 
              a(href="#").nav__link Услуги 
            li.nav__item
              a(href="#").nav__link Гарантии
            li.nav__item 
              a(href="#").nav__link FAQ
            li.nav__item.nav__item--active 
              a(href="#").nav__link Новости
            li.nav__item 
              a(href="#").nav__link Проекты 
            li.nav__item
              a(href="#").nav__link Контакты
        .breadcrumbs 
            ul.breadcrumbs__list 
                li.breadcrumbs__item 
                    a(href="#") Главная
                li.breadcrumbs__item 
                    h4 Новости
        .news-block
            .news-block__title 
                h1 Новости
            .news-block__general
                .news-block__wrapper-slider.swiper-container.s3
                    ul.news-block__slider-list.swiper-wrapper 
                      a(href="#").news-block__slider-link.swiper-slide
                        li.news-block__slider-item
                          .news-block__slider-date 
                            h4 2 дня назад 
                          .news-block__slider-title 
                            h2 Списание задолженности индивидуального предпринимателя по налогам и сборам  
                      a(href="#").news-block__slider-link.swiper-slide
                        li.news-block__slider-item
                          .news-block__slider-date 
                            h4 2 дня назад 
                          .news-block__slider-title 
                            h2 Списание задолженности индивидуального предпринимателя по налогам и сборам
                      a(href="#").news-block__slider-link.swiper-slide
                        li.news-block__slider-item
                          .news-block__slider-date 
                            h4 2 дня назад 
                          .news-block__slider-title 
                            h2 Списание задолженности индивидуального предпринимателя по налогам и сборам 
        .news.news--margin 
            .news__wrapper 
              .news__top 
                .news__top-data 
                  h4 2 дня назад 
                .news__top-title
                  h3 Положительное разрешение проблемы должника 
                .news__top-text 
                  p Списание задолженности индивидуального предпринимателя по налогам и сборам  
              .news__top 
                .news__top-data 
                  h4 2 дня назад 
                .news__top-title
                  h3 Положительное разрешение проблемы должника 
                .news__top-text 
                  p Списание задолженности индивидуального предпринимателя по налогам и сборам  
              .news__top 
                .news__top-data 
                  h4 2 дня назад 
                .news__top-title
                  h3 Положительное разрешение проблемы должника 
                .news__top-text 
                  p Списание задолженности индивидуального предпринимателя по налогам и сборам          
            .news__wrapper
                .news__bottom   
                  .news__bottom-data 
                    h4 2 дня назад 
                  .news__bottom-title
                    h3 Положительное разрешение проблемы должника 
                  .news__top-text 
                    p Списание задолженности индивидуального предпринимателя по налогам и сборам  
                .news__bottom  
                  .news__bottom-data 
                    h4 2 дня назад 
                  .news__bottom-title
                    h3 Положительное разрешение проблемы должника 
                  .news__top-text 
                    p Списание задолженности индивидуального предпринимателя по налогам и сборам
                .news__bottom  
                  .news__bottom-data 
                    h4 2 дня назад 
                  .news__bottom-title
                    h3 Положительное разрешение проблемы должника 
                  .news__top-text 
                    p Списание задолженности индивидуального предпринимателя по налогам и сборам 
            .news__button 
                a(href="#") Показать все
        footer.footer-another
            .footer-another__top
              .container
                    nav.nav 
                        ul.nav__list 
                            li.nav__item.nav__item--width.nav__item--border-left
                              a(href="#").nav__link О Компании  
                            li.nav__item.nav__item--width 
                              a(href="#").nav__link Услуги 
                            li.nav__item.nav__item--width
                              a(href="#").nav__link Гарантии
                            li.nav__item.nav__item--width 
                              a(href="#").nav__link FAQ
                            li.nav__item.nav__item--width 
                              a(href="#").nav__link Новости
                            li.nav__item.nav__item--width 
                              a(href="#").nav__link Проекты 
                            li.nav__item.nav__item--width.nav__item--border-right
                              a(href="#").nav__link Контакты
            .footer-another__center
              .container
                .footer-another__general-block
                  .footer-another__left
                    .footer-another__center-logo 
                      img(src="./assets/img/logo-footer.png") 
                    .footer-another__center-phone  
                      a(href="tel:88005510680") 8 (800) 551-06-80
                    .footer-another__center-address
                      h4 427621, г. Москва, ул. Ленина, 27  
                  .footer-another__right
                    .social-links 
                      ul.social-links__list.social-links__list--position 
                          li.social-links__item 
                              a(href="#").social-links__item-url.social-links__item-url--color 
                                  i.fa.fa-facebook(aria-hidden="true") 
                          li.social-links__item 
                              a(href="#").social-links__item-url.social-links__item-url--color   
                                  i.fa.fa-youtube(aria-hidden="true")
                          li.social-links__item 
                              a(href="#").social-links__item-url.social-links__item-url--color   
                                  i.fa.fa-instagram
                          li.social-links__item 
                              a(href="#").social-links__item-url.social-links__item-url--color   
                                  i.fa.fa-vk(aria-hidden="true")  
            .footer-another__bottom  
              .container 
                .footer-another__wrapper 
                  .footer-another__title 
                    h3 © Фонд, Инвестиции, Все материалы данного сайта являются объектами авторского права
                  .footer-another__conditions
                    a(href="#") Условия, правила и оговорки 


