extends ../_template

block variables
  - var title = 'Services'

block content
  .wrapper 
    section.section.hero
      .container
        include ../common/_header
        nav.nav 
            .burger-menu 
                img(src="/assets/img/burger.png")
            ul.nav__list 
                li.nav__item 
                    a(href="#").nav__link О Компании  
                li.nav__item.nav__item--active  
                    a(href="#").nav__link Услуги 
                li.nav__item
                    a(href="#").nav__link Гарантии
                li.nav__item 
                    a(href="#").nav__link FAQ
                li.nav__item
                    a(href="#").nav__link Новости
                li.nav__item 
                    a(href="#").nav__link Проекты 
                li.nav__item
                    a(href="#").nav__link Контакты
        .breadcrumbs 
            ul.breadcrumbs__list 
                li.breadcrumbs__item 
                    a(href="#") Главная
                li.breadcrumbs__item 
                    a(href="#") Услуги   
                li.breadcrumbs__item 
                    h4 Административное регулирование бизнеса
        .content-service.content-service--margin-bottom
            .content-service__title 
                h1 Услуги
            .content-service__general
                .content-service__left-side
                    .content-service__side-wrapper
                        .content-service__side-title 
                            h3 Управленчийский консалтинг
                        .content-service__side-text 
                            p В случае управления бизнесом управляющие компании решают комплекс задач, направленных на достижение поставленных целей  
                    .content-service__side-wrapper
                        .content-service__side-title 
                            h3 Налоговое право и бухгалтерский учет
                        .content-service__side-text 
                            p В случае управления бизнесом управляющие компании решают комплекс задач, направленных на достижение поставленных целей
                    .content-service__side-wrapper
                        .content-service__side-title 
                            h3 Банкротство и ликвидация
                        .content-service__side-text 
                            p В случае управления бизнесом управляющие компании решают комплекс задач, направленных на достижение поставленных целей     
                .content-service__center-side
                    .content-service__center-block
                        .content-service__center-title 
                            h3 Административное регулирование бизнеса
                        .content-service__center-text 
                            p В случае управления бизнесом управляющие компании решают комплекс задач, направленных на достижение поставленных целей    
                        .content-service__center-more 
                            .content-service__center-heading 
                                h3 Подробнее
                            .content-service__center-arrow 
                                img(src="/assets/img/arr-white.png")
                            .content-service__side-wrapper
                    .content-service__side-title 
                        h3 Банкротство и ликвидация
                    .content-service__side-text 
                        p В случае управления бизнесом управляющие компании решают комплекс задач, направленных на достижение поставленных целей             
                .content-service__right-side
                    .content-service__side-wrapper
                        .content-service__side-title 
                            h3 Управленчийский консалтинг
                        .content-service__side-text 
                            p В случае управления бизнесом управляющие компании решают комплекс задач, направленных на достижение поставленных целей  
                    .content-service__side-wrapper
                        .content-service__side-title 
                            h3 Налоговое право и бухгалтерский учет
                        .content-service__side-text 
                            p В случае управления бизнесом управляющие компании решают комплекс задач, направленных на достижение поставленных целей
                    .content-service__side-wrapper
                        .content-service__side-title 
                            h3 Банкротство и ликвидация
                        .content-service__side-text 
                            p В случае управления бизнесом управляющие компании решают комплекс задач, направленных на достижение поставленных целей    
            include ../common/footer     
            include ../common/anim-side-bar                 